@font-face {
  font-family: 'main';
  src: url('fonts/main.otf') format('opentype');
}

@font-face {
  font-family: 'simple';
  src: url('fonts/simple.ttf') format('truetype');
}

@font-face {
  font-family: 'result';
  src: url('fonts/result.otf') format('opentype');
}

::selection {
  background-color: inherit;
}

body {
  background-color: #633D17;
}

.border-main, footer {
  position: fixed;
  top: 50%; left: 50%;
}

.border-main {
  transform: translate(-50%, -50%);
  width: 360px;
  /* background-color: #555; */
  background-color: #7F4E1E;
  text-align: center;
  outline: 2px solid #8D5D2D;
}

.welcome {
  margin-top: 40px;
  /* color: rgb(203, 166, 247); */
  color: #C6A483;
  font-size: 26px;
  font-family: 'main', sans-serif;
  text-align: center;
  padding: 15px 15px;
  cursor: pointer;
}

.edition {
  margin: 0; padding: 0;
  width: 130px;
  
  position: fixed;
  top: 5.5em; left: 70%;
  transform: translateX(-50%);

  color: #C6A483;
  font-size: 16px;
  font-family: 'main', sans-serif;
}

.p1 {
  /* color: #a5adce; */
  color: #B8916A;
  font-size: 1em;
  font-family: 'simple', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.p2 {
  /* color: #a5adce; */
  color: #B8916A;
  font-size: 1em;
  font-family: 'simple', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.inpt1,
.inpt2 {
  font-size: .9em;
  color: #fff;
  background-color: #8D5D2D;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 1px 0px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btns button {
  border: none;
  padding: 4px 8px;
  font-size: .9em;
  font-weight: bold;
  color: #fff;
  background-color: #9B6D3F;
  text-align: center;
}

.btns button:disabled {
  background-color: #C6A483;
}

.sel-main {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.sel1 {
  background-color: #ca9ee6;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.res-button {
  /* background-color: #f9e2af; */
  border: 0 solid black;
  padding: 2px 12px 2px 12px;
  color: #fff;
  background-color: #A97E53;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: .9em;
}

.result {
  font-weight: bold;
  position: relative;
  text-align: center;
  height: 25px;
  font-family: 'result', sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 29px;
  /* color: #6daa81; */
  color: #F0E6DC;
  cursor: pointer;
}





@media screen and (max-width: 768px) {
  .border-main { width: 320px }
}