@font-face {
  font-family: 'main';
  src: url('fonts/main.otf') format('opentype');
}

@font-face {
  font-family: 'simple';
  src: url('fonts/simple.ttf') format('truetype');
}

@font-face {
  font-family: 'result';
  src: url('fonts/result.otf') format('opentype');
}

body {
  background: #626880;
}

.border-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  background-color: #494d64;
  text-align: center;
  border: 1px solid #a5adcb;
  box-shadow: 0px 0px 3px 1px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .border-main {
    width: 90%;
    border-radius: 15px;
  }
}

.welcome {
  margin-top: 50px;
  color: rgb(203, 166, 247);
  font-family: 'main', sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 15px 15px;
}

.p1 {
  color: #a5adce;
  font-size: 15px;
  font-family: 'simple', sans-serif;
  text-align: center;
  margin-top: 15px;
}

.p2 {
  color: #a5adce;
  font-size: 15px;
  font-family: 'simple', sans-serif;
  text-align: center;
  margin-top: 25px;
}

.inpt1,
.inpt2 {
  color: white;
  background-color: #626880;
  font-weight: 550;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px;
  margin-left: auto;
  margin-right: auto;
}

.sel-main {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.sel1 {
  background-color: #ca9ee6;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  font-size: 12px;
}

.res-button {
  background-color: #f9e2af;
  text-align: center;
  padding: 2px 12px 2px 12px;
  color: black;
  border: 0 solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 13px;
}

.result {
  font-weight: bold;
  position: relative;
  text-align: center;
  height: 25px;
  font-family: 'result', sans-serif;
  font-size: 18px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 29px;
  color: #6daa81;
}

footer {
  position: fixed;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: white;
  font-size: 70%;
}